@import "bourbon";
@import "base/base";
@import "neat/neat";
@import "bourbon/bourbon";

@import "partials/hero";
@import "partials/main";
@import "partials/footer";

html {
  // background: url(http://i1370.photobucket.com/albums/ag270/DwightGNJohnson/surf-and-paddle_zpsdd037abb.png) no-repeat;
  // background-position:center top;
  // -webkit-background-size: 1300px;
  // -moz-background-size: 1300px;
  // -o-background-size: 1300px;
  // background-size: 1300px;
  // height: 2104px;
}

body {
  margin:0;
  margin: 0 auto;
  width:1300px;
}
