<footer class="mainfooter">
<header>Most Popular Posts</header>
<section></section>
<footer class="footeroffooter">
  <section class="brandcopyright">
    <%= image_tag 'images/ironyard.png', :class => 'ironyardimg' %>
    
    <small>The Ironyard Copyright 2013. All Rights Reserved</small>
  </section>
  <nav>
    <ul>
      <li>Nav Item 1</li>
      <li>Nav Item 2</li>
      <li>Nav Item 3</li>
      <li>Nav Item 5</li>
    </ul>
  </nav>
</footer>
</footer>
