---
title: Surf and Paddle
---
<main id="maincontent">
  <article>
    <h1>A fantastic Engaging headline goes here</h1>
    <div class="byline">
      <address class="author">
        <a rel="author" href="#">
          <%= image_tag 'images/profilepic84x84.gif' %> <span class="name">Anne Maria</span></a>
      </address>
      <div class="date">
            on <time pubdate datetime="2014-10-07" title="Oct. 7th 9:22pm">Monday Oct. 7th 9:22pm</time></div>
    </div><!-- End of byline -->

</article>
<aside>
  aldisfja
</aside>
</main>
